.parent {
    color: red;
}

h1 {
    font-size: 80px;
}

h1::first-letter    {
    font-size: 110px;
    color: #bbb;
}

p {
    color: green;
    line-height: 25px;
    font-size: 18px;
}

li {
    color: green;
}

p+ul>li {
    color: yellow;
}

p+ul {
    margin-top: 20px;
}

p~p {
    text-decoration: underline;
}
h1+p {
    /*color: yellow;*/
    font-size: 30px;
    line-height: 40px;
    margin-left: 30px;
}

h1+p::first-letter {
    font-size: 35px;
    color: yellow;
}